<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Login</title>
  </head>
  <body>
    
    <main style="padding: 3rem">
      <div class="row">
        <div class="col-md-2">
          <a
            class="btn btn-lg btn-google"
            style="
              padding: 0.2rem 0.5rem;
              background-color: rgb(7, 7, 7);
              color: rgb(255, 255, 255);
            "
            href="/auth/google"
            ><img
              src="https://img.icons8.com/color/16/000000/google-logo.png"
            />
            Login with Google</a
          >
        </div>
    </main>
  </body>
</html>
