<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logged In</title>
  </head>
  <body>
   <h1>Welcome to <%= user.name %>`s page</h1>
   <img src=<%= user.thumbnail %> alt=""/>
   <p><%= user.googleID %></p>
   <p><%= user.date %></p>

  </body>
</html>
